.board {
    display: flex;
    height: 480px;
    border-radius: 50px;
    padding: 30px;
}

.section {
    background-color: rgba(108, 117, 155, 0.13);
    margin: 5px;
}

.endsection {
    display: flex;
    flex-grow: 1;
}

.midsection {
    display: flex;
    flex-direction: column;
    flex-grow: 6;
}

.midrow {
    display: flex;
    flex-grow: 1;
}

.pot {
    position: relative;
    background-color: rgba(0, 0, 0, 0.0);
    flex-grow: 1;
    align-items: center;
    text-align: center;
    padding: 50px;
    width: 50%;
    height: 200px;
}

.bigPit {
    position: relative;
    background-color: rgba(0, 0, 0, 0.0);
    flex-grow: 1;
    margin: 15px;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 25px;
}


.topmid {
    color: black;
}

.botmid {
    color: blue;
}

.disable-card {
    opacity: 0.5;
}

.pot:hover {
    outline: 5px solid green;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

body {
    font-family:'Lato','Roboto',Arial, Helvetica, sans-serif;
  }
  h1{
    color:#353738;
    margin-top: 0;
    font-family: 'Neotech','GE SS Two','Roboto',Arial,sans-serif;
    font-size: 35px;
    overflow: hidden;
    text-align: center;
  }
  h1:before,
  h1:after{
    background-color: #c4d16e;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  h1:before {
    right: 20px;
    margin-left: -50%;
  }
  h1:after {
    left: 20px;
    margin-right: -50%;
  }
  .mancala-main-container {
    /* background: #fbfbfb; 
     height: 100%;
    min-height: 100%;*/
    position: relative;
  }
  .error{
    color: #ff3939;
  }
  /* .login-main-container::before{
    content: "";
    display: block;
    background-image: url("../../assets/images/login-abstact-design.svg");
    width: 475px;
    height: 375px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom:0;
    background-size: 400px;
  } */
  input[type=text], 
  input[type=text],
  .login-btn {
    width: 100%;
    height: 40px;
    background: #F8F8F8;
  }
  .mancala-sub-container{
    max-width: 450px;
    margin: auto;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    /*  padding: 48px 40px 36px; 
    border: 2px solid #f1f1f1; */
  }
  label{
    font-size: 16px;
    font-weight: 500;
    color: #737373;
  }
  label,
  input[type=text], 
  input[type=text]{
    color: #848789;
  }
  input[type=text], 
  input[type=text] {
    color: #848789;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #E6E6E6;
  }
  
  .login-btn{
    background: transparent;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #f1f1eb;
    background-color: #719e19;
    border:2px solid #719e19;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .14285714em;
    padding: 0 1.8125rem;
    min-height: 2.2rem;
    margin-top: .5rem;
  }
  
  .login-btn:hover{
    color: #333333;
    background-color: #719e19;
    border-color: #719e19;
    border:2px #000000 solid;
    background: transparent;
  }
  input:focus,
  .login-btn:focus{
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
  }
  /* button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  } */
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  
  }
  
  